{% extends 'base.html.twig' %}

{% block title %}Les différents Matières disponibles{% endblock %}

{% block body %}
    <h1>Matières a étudier</h1>

    <table class="table my-5">
        <thead>
            <tr>
                <th>Ensemble des matières</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td class="fs-4">{{ category.title }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a class="btn btn-block text-center w-100" href="{{ path('app_category_show', {'id': category.id}) }}">Affiche les cours correspondants</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune matière disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
