{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<div>
    <form>
        <input  type="search" name="search" placeholder="Recherche..."/>
        <button type="submit">Rechercher</button>
    </form>
</div>
<div class="row mt-5">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <table>
        {% for article in articles %}
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="card mb-3 container2"> 
                        <h4 class="card-title text-center">{{article.title}}</h4>
                        <ul class="list-group list-group-flush border: solid 1px black border-radius: 10px;">
                            <li class="list-group-item text-center">{{article.content}}</li>
                            <li class="list-group-item card-body"> <a href="{{path('app_article_show', {'id': article.id})}}" class="btn btn-block text-center w-100">Consulter le cours</a></li>
                        </ul>
                    </div>
                </div>
        {% else %}
                <div>
                        <td colspan="5">Aucun matière disponible</td>
                </div>
        {% endfor %}
        </table>
    </div>
</div>


{% endblock %}
